/* Style du contenu */
.content-box {
    background-color: #f0f0f0; /* Couleur de fond du rectangle */
    padding: 20px;
    justify-content: space-between;
    display: flex;
}

.form-box {
    background-color: white;
    padding: 20px;
    width: 50%;
    margin-right: 2%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.info-box {
    background-color: white;
    padding: 20px;
    width: 40%;
    margin-left: 2%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.info-box .separator {
    border-top: 1px solid #ccc;
    width: 60%;
    margin: 0 auto;
}