.dashboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;;
    /* height: 100vh; */
    margin-left: 25px;
    margin-right: 25px;
    justify-content: space-between;
}

.imgtheme-box {
    background-color: white;
    text-align: center;
    font-family: "Poppins";
    padding: 25px;
    width: 30%;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.raw-box {
    background-color: white;
    text-align: center;
    font-family: "Poppins";
    padding: 25px;
    width: 30%;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.check-box {
    background-color: white;
    text-align: center;
    font-family: "Poppins";
    padding: 25px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#participantsTable tbody td {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.tab-container {
    background-color: #f2f2f2;
    padding: 10px 0;
    text-align: center;
}

.tab-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
}

.tab-content {
    width: 100%;
    box-sizing: border-box;
}

.tab-content.active {
    display: block;
}

.content {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}